botocore==1.8.0
boto3==1.4.8
-e git+https://github.com/SooLee/Benchmark.git#egg=Benchmark
dcicutils==0.3.5
# Build tasks
invoke==0.18.1
# Syntax checking
flake8==2.4.1
pytest-runner
urllib3
# for testing
pytest==3.0.5
pytest-cov==2.3.1
mock
