botocore==1.7.4
-e git+https://github.com/4dn-dcic/python-lambda.git#egg=python_lambda
-e git+https://github.com/SooLee/Benchmark.git#egg=Benchmark
dcicutils==0.3.5
boto3
# Build tasks
invoke==0.18.1
# Syntax checking
flake8==2.4.1
pytest-runner
urllib3
# for testing
pytest==3.0.5
pytest-cov==2.3.1
mock
